Events==0.4
geopy==2.3.0
gpxpy==1.5.0
latloncalc==1.5.3
numpy==1.24.1
openpyxl==3.0.10
pyModbusTCP==0.2.0
#pyobjc==12.1; sys_platform == 'darwin'
#pyobjc-core==12.1; sys_platform == 'darwin'
pyserial==3.5
rich==13.3.1
keyring == 23.13.1
Flask~=3.0.2
python-telegram-bot~=20.6
bleak~=0.21.1
victron-ble~=0.6.0
pydub
requests
